@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 35% 20%;
    --card: 60 50% 95%;
    --card-foreground: 25 35% 20%;
    --popover: 60 50% 95%;
    --popover-foreground: 25 35% 20%;
    --primary: 120 25% 45%;
    --primary-foreground: 120 25% 95%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 25 35% 20%;
    --muted: 60 30% 85%;
    --muted-foreground: 25 35% 40%;
    --accent: 25 57% 40%;
    --accent-foreground: 60 56% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 80%;
    --input: 60 30% 80%;
    --ring: 120 25% 45%;
    --chart-1: 120 25% 45%;
    --chart-2: 25 57% 40%;
    --chart-3: 60 30% 85%;
    --chart-4: 120 25% 65%;
    --chart-5: 25 57% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 25 10% 10%;
    --foreground: 60 56% 91%;
    --card: 25 10% 15%;
    --card-foreground: 60 56% 91%;
    --popover: 25 10% 15%;
    --popover-foreground: 60 56% 91%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 10%;
    --secondary: 25 10% 25%;
    --secondary-foreground: 60 56% 91%;
    --muted: 25 10% 25%;
    --muted-foreground: 60 56% 70%;
    --accent: 25 57% 60%;
    --accent-foreground: 25 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 10% 25%;
    --input: 25 10% 25%;
    --ring: 120 25% 65%;
    --chart-1: 120 25% 65%;
    --chart-2: 25 57% 60%;
    --chart-3: 25 10% 25%;
    --chart-4: 120 25% 45%;
    --chart-5: 25 57% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
